<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH614j-s_mPrZfDizVmONCUy12548wnyI</string>
	<key>GCM_SENDER_ID</key>
	<string>352438222951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bountiestoday</string>
	<key>PROJECT_ID</key>
	<string>khyrat-el-yum</string>
	<key>STORAGE_BUCKET</key>
	<string>khyrat-el-yum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352438222951:ios:43857d73451d00c3b414c2</string>
</dict>
</plist>